{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock %}</title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" href=" {% static "/fonts/icomoon/style.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet"  type='text/css' href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet"  type='text/css' href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet"  type='text/css' href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet"  type='text/css' href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet"  type='text/css' href="{% static "scss/owl.theme.default.min.css" %}">
  
    <link rel="stylesheet"  type='text/css' href="{% static "css/style.css" %}">
    <link rel="stylesheet"  type='text/css' href="{% static "css/aos.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>



 
    

  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">
          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left"></div>



            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="site-logo">
                <a href="/" class="js-logo-clone" style="font-size: 2.5em">Bike Sharing</a>
              </div>
            </div>
            {% if request.session.role == "anggota" %}
            <a href="/home/logout">Logout</a>
            {% elif request.session.role == "petugas" %}
            <a href="/home/logout">Logout</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% if request.session.ktp %}
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link btn btn-default b" href="/">Home</a>
          </li>
          {% if request.session.role == "petugas" %}
          <li class="nav-item">
            <a class="nav-link btn btn-default b" href="/transaksi/laporan/">Daftar Laporan</a>
          </li>
          {% endif %}
          {% if request.session.role == "anggota" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transaksi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/transaksi/riwayat/">Riwayat</a>
              <a class="dropdown-item" href="/transaksi/topup/">Top Up</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Voucher
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/voucher/create/">Create</a>
              <a class="dropdown-item" href="/voucher/lists/">List</a>
            </div>
          </li>
          {% if request.session.role == "petugas" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Penugasan
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bikeshare/formPenugasan/">Create</a>
              <a class="dropdown-item" href="/bikeshare/daftarPenugasan">List</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acara
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.session.role == "petugas" %}
              <a class="dropdown-item" href="/bikeshare/createAcara/">Create</a>
              {% endif %}
              <a class="dropdown-item" href="/bikeshare/daftarAcara/">List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Peminjaman
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.session.role == "anggota" %}
              <a class="dropdown-item" href="/bikeshare/createPeminjaman/">Create</a>
              {% endif %}
              <a class="dropdown-item" href="/bikeshare/daftarPeminjaman/">List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stasiun
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.session.role == "petugas" %}
              <a class="dropdown-item" href="/bikeshare/formStasiun/">Create</a>
              {% endif %}
              <a class="dropdown-item" href="/bikeshare/daftarStasiun/">List</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default b" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sepeda
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.session.role == "petugas" %}
              <a class="dropdown-item" href="/bikeshare/formSepeda/">Create</a>
              {% endif %}
              <a class="dropdown-item" href="/bikeshare/daftarSepeda/">List</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %}
    </header>

    <script>
      
    </script>
    {% block content %} {% endblock %}

    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/aos.js" %}"></script>
  
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

              <script>
      $(document).ready(function() {
    var t = $('#table').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );
 
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('#table2').DataTable();

} );
</script>
    </body>

    </html>