{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<!--Header-->
    <div class="site-blocks-cover" style="background-image: url(../../static/images/bikehome.jpg); width:100%; height:100%; top:0; left:0; " data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class=" text-center text-md-center pt-5 mx-auto">
            {% if request.session.nama %}
            <h1 class="mb-2" style="color:snow; font-size: 5em">Life is better on a Bike!</h1>
            <div class="intro-text text-center text-md-center">
            {% else %}
            <h1 class="mb-2" style="color:snow; font-size: 5em">Life is better on a Bike!</h1>
            <div class="intro-text text-center text-md-center">
                <a href="home/role/" class="btn btn-sm btn-primary">Sign Up!</a>
                <a href="home/login/" class="btn btn-sm btn-primary">Login</a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Functional-->
    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-bicycle"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Fuel</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Easy Acces</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-people"></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Friendly</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="site-section block-8">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 text-center mb-5">
            <h1>Anywhere you need to go</h1>
            <h4>Don't hesitate to take a tour</h4>
          </div>
          <div class="col-md-12 col-lg-6  pl-md-5">
            <img src="../static/images/bike2.jpg" alt="Image placeholder" class="img-fluid rounded">
          </div>
        </div>
      </div>
    </div>



    <!--Team Intro-->
    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/nadia.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Nadia Syafitri</h3>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/adit.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Aditya Pratama</h3>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/saul.jpg" alt="Image placeholder" class="img-fluid rounded-circle mb-3">
                  <h3 class="block-38-heading h4">Saul Andre</h3>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="../static/images/nasya.jpg" alt="Image placeholder" class="img-fluid rounded-circle mb-3">
                  <h3 class="block-38-heading h4">Oristania W. Nabasya</h3>
                </div>
                <div class="block-38-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>What are you waiting for?</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
           <img src="../../static/images/bike3.jpg" alt="Image placeholder" class="img-fluid rounded">
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            {% if request.session.ktp %}
            <h1>Let us take you travel</h1>
            <h4>We will bring you joyness with friendly environment!</h4>
            {% else %}
            <h1>Let us take you travel</h1>
            <h4>We will bring you joyness with friendly environment!</h4>
            <p><a href="pickrole.html" class="btn btn-primary btn-sm">Sign Up</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>



{% endblock %}
