{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
<div class="container-fluid" style="background-color:floralwhite;">


    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4 mx-auto">Ride Today!</h3>
                <form method="POST" action="/loginAttempt/" class="mx-auto">
                    <div class="form-label-group">
                        <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP" required>
                        <label for="inputKTP">No KTP</label>
                    </div>
                  <div class="form-label-group">
                        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                  </div>
  
                  
  
                  
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                  <div class="text-center">
                    <a class="small" href="/home/role/">SIGN UP</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
