{% extends 'base.html' %}
{% load static %}
{% block title %}Pick Role{% endblock %}
{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Pick Role</h3>
              
                <a href="/home/signup/"><button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" >Admin</button></a>
                <a href="/home/signup/anggota"><button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" >Anggota</button></a>
                <a href="/home/signup/petugas"><button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" >Petugas</button></a>
               
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
