{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Register</h3>
                
                <form method="POST" action="/signupAttempt/petugas/">
                  <div class="form-label-group">
                      <input name="ktp" type="text" id="inputKTP" class="form-control" placeholder="No KTP" required>
                      <label for="inputKTP">No KTP</label>
                  </div>
                  <div class="form-label-group">
                          <input name="nama" type="text" id="inputNama" class="form-control" placeholder="Nama Lengkap" required>
                          <label for="inputNama">Nama Lengkap</label>
                      </div>
                  <div class="form-label-group">
                          <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                          <label for="inputEmail">Email address</label>
                  </div>
      
                  <div class="form-label-group">
                          <input name="no_telp" type="text" id="inputHP" class="form-control" placeholder="No HP" required>
                          <label for="inputHP">No HP</label>
                  </div>
                  <div class="form-label-group">
                          <input name="tgl_lahir" type="date" id="inputTgl" class="form-control" placeholder="Tanggal Lahir" required>
                          <label for="inputTgl">Tanggal Lahir</label>
                  </div>
                  <div class="form-label-group">
                          <input name="alamat" type="text" id="inputAlamat" class="form-control" placeholder="Alamat" required>
                          <label for="inputAlamat">Alamat</label>
                  </div>
                 
                

                
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign Up</button>
              
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
