{% extends 'base.html' %}
{% load static %}
{% block title %}Create Acara{% endblock %}
{% block content %}
<link href="{% static 'css/acara.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Acara</h3>
                <form>
                    {% csrf_token %}
                  <div class="form-group">
                    <input name="judul" type="text" class="form-control" id="inputJudulAcara" placeholder="Judul">
                  </div>

                  <div class="form-group">
                      <input name="deskripsi" type="text" class="form-control" id="inputDeskripsiAcara" placeholder="Deskripsi">
                  </div>

                    <div class="form-label-group">
                        <select name="biaya" id="inputGratis" class="form-control"placeholder="Gratis"required>
                            <option selected>Gratis</option>
                            <option>Berbayar</option>
                          </select>
                    </div>
                    <div class="form-group">
                      <input name="startDate" type="text" class="form-control" id="TanggalMulaiAcara" placeholder="Tanggal Mulai">
                    </div>

                    <div class="form-group">
                      <input type="text" name="endDate" class="form-control" id="TanggalSelesaiAcara" placeholder="Tanggal Selesai">
                    </div>


                    <div class="form-label-group">
                        <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                          <option selected>Stasiun</option>
                            {% for i in stasiun %}

                            <option>{{i.0}}</option>

                            {% endfor %}
                        </select>
                    </div>
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('select').selectpicker();
    </script>
</div>
{% endblock %}
