{% extends 'base.html' %}
{% load static %}
{% block title %}Daftar Stasiun{% endblock %}
{% block content %}

<link href="{% static 'css/listStasiun.css' %}" rel="stylesheet"></link>
<link href="{% static 'css/stylebutton.css' %}" rel="stylesheet"></link>


<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>

        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>DAFTAR STASIUN</h1>
            <br>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Latitude</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Stasiun Basdat Depok Baru 1</th>
                            <td>Pocin</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="button" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                                <button class="button gray" onclick="deleteList()">Delete</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Stasiun Basdat Depok Baru 2</th>
                            <td>Depok</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="button" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                                <button class="button gray" onclick="deleteList()">Delete</button>
                              </td>
                          </tr>
                          <tr>
                            <th scope="row">Stasiun Basdat Depok Baru 3</th>
                            <td>Depok 3</td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="button" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                                <button class="button gray" onclick="deleteList()">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Stasiun</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Nama</label>
                      <input type="text" class="form-control" id="namaStasiun" placeholder="Nama">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Alamat</label>
                      <input type="text" class="form-control" id="alamatStasiun" placeholder="Alamat">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Longitude</label>
                        <input type="text" class="form-control" id="Longitude" placeholdeR="Longitude">
                      </div>
                      <div class="form-group">
                          <label for="formGroupExampleInput2">Latitude</label>
                          <input type="text" class="form-control" id="Latitude" placeholder="Latitude">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateVoucher()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>

<script src="{% static '/js/stasiun.js' %}"></script>
{% endblock %}
