{% extends 'base.html' %}
{% load static %}
{% block title %}Peminjaman{% endblock %}
{% block content %}
<link href="{% static 'css/lists.css' %}" rel="stylesheet"></link>


<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>DAFTAR PEMINJAMAN</h1>
            <br>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No Kartu Anggota</th>
                            <th scope="col">Sepeda</th>
                            <th scope="col">Stasiun</th>
                            <th scope="col">Waktu Kembali</th>
                            <th scope="col">Biaya</th>
                            <th scope="col">Denda</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <th scope="row">24qe12</th>
                            <td>1224-BMX</td>
                            <td>637 Stasiun x</td>
                            <td>kapan ya</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                <button class="btn btn-primary" onclick="kembalikan()">Kembalikan</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

        </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
</div>
<script src="{% static '/js/peminjaman.js' %}"></script>
{% endblock %}
