{% extends 'base.html' %}
{% load static %}
{% block title %}Create Penugasan{% endblock %}
{% block content %}
<link href="{% static 'css/penugasan.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Penugasan</h3>
                <form action= "/bikeshare/formPenugasan/create" method="POST">
                  {% csrf_token %}

                  <div class="form-group">

                    <select name="nama_petugas" class="form-control" id="inputPetugas">
                      {% for i in petugas%}
                      <header selected>Petugas</header>
                        <option>{{i.0}} - {{i.1}}</option>
                        {% endfor %}

                    </select>
                  </div>
                    <div class="form-group">
                      <input name="startDate" type="text" class="form-control" id="inputTanggalMulai" placeholder="Tanggal Mulai">
                    </div>

                    <div class="form-group">
                      <input name="endDate" type="text" class="form-control" id="inputTanggalSelesai" placeholder="Tanggal Selesai">
                    </div>


                    <div class="form-label-group">
                        <select name="stasiun" id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                          {% for i in stasiun %}
                          <header selected>Stasiun</header>
                            <option>{{i.0}}</option>
                            {% endfor %}
                        </select>
                    </div>





                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
