
{% extends 'base.html' %}
{% load static %}
{% block title %}Create Stasiun{% endblock %}
{% block content %}
<link href="{% static 'css/stasiun.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Stasiun</h3>
                <form>
                    <div class="form-label-group">
                        <input type="text" id="inputNamaStasiun" class="form-control" placeholder="Nama Stasiun" required>
                        <label for="inputNamaStasiun">Nama</label>
                    </div>
                    <div class="form-label-group">
                            <input type="text" id="inputAlamat" class="form-control" placeholder="Kategori" required>
                            <label for="inputAlamat">Alamat</label>
                        </div>
                    <div class="form-label-group">
                            <input type="email" id="inputLongitude" class="form-control" placeholder="Nilai Poin" required autofocus>
                            <label for="inputLongitude">Longitude</label>
                    </div>

                    <div class="form-label-group">
                            <input type="text" id="inputLaitude" class="form-control" placeholder="Deskripsi" required>
                            <label for="inputLaitude">Latitude</label>
                    </div>



                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
