
{% extends 'base.html' %}
{% load static %}
{% block title %}Create Sepeda{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Sepeda</h3>
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="inputMerkSepeda" placeholder="Merk" required>
                    </div>

                        <div class="form-group">
                          <input type="text" class="form-control" id="inputJenis" placeholder="Jenis" required>
                        </div>    
                  
                    <div class="form-label-group">
                      <select id="inputStatus" class="form-control"placeholder="Status"required>
                          <option selected>Status</option>
                          <option>Tersedia</option>
                          <option>Tidak Tersedia</option>
                        </select>
                    </div>
                <div class="form-label-group">
            
                  <select id="inputStasiun" class="form-control"placeholder="Stasiun"required>
                      <option selected>Stasiun</option>
                      <option>Stasiun Basdat Depok Baru 1</option>
                      <option>Stasiun Basdat Depok Baru 2</option>
                      <option>Stasiun Basdat Depok Baru 3</option>
                    </select>
                </div>

                <div class="form-label-group">
                   
                    <select id="inputPenyumbang" class="form-control"placeholder="Penyumbang"required>
                      <option selected>Penyumbang</option>
                      <option>...</option>
                      <option>...</option>
                   
                    </select>
                </div>
                  
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
