{% extends 'base.html' %}
{% load static %}
{% block title %}Create Voucher{% endblock %}
{% block content %}
<link href="{% static 'css/voucher.css' %}" rel="stylesheet"></link>
<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Voucher</h3>
                <form>
                    <div class="form-label-group">
                        <input type="text" id="inputNamaVoucher" class="form-control" placeholder="Nama Voucher" required>
                        <label for="inputNamaVoucher">Nama</label>
                    </div>
                    <div class="form-label-group">
                            <input type="text" id="inputKategoriVoucher" class="form-control" placeholder="Kategori" required>
                            <label for="inputKategoriVoucher">Kategori</label>
                        </div>
                    <div class="form-label-group">
                            <input type="email" id="inputPoinVoucher" class="form-control" placeholder="Nilai Poin" required autofocus>
                            <label for="inputPoinVoucher">Nilai Poin</label>
                    </div>

                    <div class="form-label-group">
                            <input type="text" id="inputDeskripsiVoucher" class="form-control" placeholder="Deskripsi" required>
                            <label for="inputDeskripsiVoucher">Deskripsi</label>
                    </div>
                    <div class="form-label-group">
                            <input type="text" id="inputJumlahVoucher" class="form-control" placeholder="Jumlah" required>
                            <label for="inputJumlahVoucher">Jumlah</label>
                    </div>




                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Create</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
