{% extends 'base.html' %}
{% load static %}
{% block title %}Voucher{% endblock %}
{% block content %}
<link href="{% static 'css/lists.css' %}" rel="stylesheet"></link>
<!-- Page Content -->
<div class="container">
    <div class="cd-popup" role="alert">
        <div class="cd-popup-container">
           <p>Are you sure you want to delete this element?</p>
           <ul class="cd-buttons">
              <li onclick="yesFunction()"><a href="#0">Yes</a></li>
              <li onclick="cancelFunction()"><a href="#0">No</a></li>
           </ul>
          
        </div> <!-- cd-popup-container -->
     </div> <!-- cd-popup -->
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>DAFTAR VOUCHER</h1>
            <br>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nama</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Nilai Poin</th>
                            <th scope="col">Deskrpisi</th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Cashback 50%</th>
                            <td>Promo</td>
                            <td>20000</td>
                            <td>Cashback 50% maksimal 20000</td>
                            <td>10</td>
                            <td>
                              <button class="fas fa-edit" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                              <button class="fas fa-trash-alt" onclick="deleteList()">Delete</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Cashback 50%</th>
                            <td>Promo</td>
                            <td>20000</td>
                            <td>Cashback 50% maksimal 20000</td>
                            <td>10</td>
                            <td>
                                <button class="fas fa-edit" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                                <button class="fas fa-trash-alt" onclick="deleteList()">Delete</button>
                              </td>
                          </tr>
                          <tr>
                            <th scope="row">Cashback 50%</th>
                            <td>Promo</td>
                            <td>20000</td>
                            <td>Cashback 50% maksimal 20000</td>
                            <td>10</td>
                            <td>
                                <button class="fas fa-edit" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
                              <button class="fas fa-trash-alt" onclick="deleteList()">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
        
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Update Voucher</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            
                <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Nama</label>
                      <input type="text" class="form-control" id="namaVoucher" placeholder="Nama">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Kategori</label>
                      <input type="text" class="form-control" id="kategoriVoucher" placeholder="Kategori">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Nilai Poin</label>
                        <input type="text" class="form-control" id="poinVoucher" placeholdeR="Poin">
                      </div>
                      <div class="form-group">
                          <label for="formGroupExampleInput2">Deskripsi</label>
                          <input type="text" class="form-control" id="deskripsiVoucher" placeholder="Deskripsi">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateVoucher()">Save changes</button>
            </div>
          </div>
        </div>
      </div>


</div>
<script src="{% static '/js/voucher.js' %}"></script>

{% endblock %}
