{% extends 'base.html' %}
{% load static %}
{% block title %}Top-Up{% endblock %}
{% block content %}
<link href="{% static 'css/topup.css' %}" rel="stylesheet"></link>

<!-- Page Content -->
<div class="container">
    
      
        <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">TOP-UP</h5>
                    <h6>Saldo: {{ request.session.saldo }}</h6>
                    <form style="text-align:center" method="POST" action="/transaksi/topupAttempt/">
                   
        
                    <div class="form-label-group">
                        <input type="text" name = "topup" id="inputNominal" class="form-control" placeholder="Nominal" required>
                    
                    </div>
        
                    <br>
                        
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        <!-- <button class="btn btn-lg btn-primary text-uppercase" >Submit</button> -->
      
                                      <hr class="my-4">
                   
                    </form>
                </div>
                
    
</div>
{% endblock %}
